<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:label="Hermes Widget"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:usesCleartextTraffic="false"
        tools:replace="android:usesCleartextTraffic"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity android:name=".config.PairingActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hermeswidget" android:host="pair" />
            </intent-filter>
        </activity>
        <activity android:name=".PublicationActivity" android:exported="false" />
        <activity android:name=".DiagnosticsActivity" android:exported="false" />

        <activity android:name=".config.WidgetConfigActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".push.UnifiedPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.PUSH_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".widget.WakeAlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.you.hermeswidget.WAKE_FALLBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.HermesWidgetReceiver" android:exported="true" android:label="Hermes">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.you.hermeswidget.REFRESH" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/hermes_widget_info" />
        </receiver>


    </application>
</manifest>
